<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="Party Scraper" Manufacturer="Party Developers LLC" Version="1.0.1.5" UpgradeCode="826fc25a-141f-4245-94f6-f6eb89a825cc">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<MediaTemplate EmbedCab="yes" />

		<Icon Id="PartyIcon" SourceFile="..\PartyScraper\partygui.ico" />

		<Feature Id="Main">
			<ComponentGroupRef Id="HarvestedComponents" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>
		<ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
	</Package>
</Wix>