<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="Party Scraper" Manufacturer="Party Developers LLC" Version="2.0.0.5" UpgradeCode="826fc25a-141f-4245-94f6-f6eb89a825cc">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Upgrade Id='826fc25a-141f-4245-94f6-f6eb89a825cc'>
			<UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND'
				Minimum='1.0.0.0' IncludeMinimum='yes'
				Maximum='99.0.0.0' IncludeMaximum='no' />
		</Upgrade>

		<MediaTemplate EmbedCab="yes" />

		<Icon Id="PartyIcon" SourceFile="..\PartyScraper2.0\Resources\partygui.ico" />

		<Feature Id="Main">
			<ComponentGroupRef Id="HarvestedComponents" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>
		<ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
	</Package>
</Wix>